@font-face {
    font-family: 'krabby_pattyregular';
    src: url('krabby_patty-webfont.woff2') format('woff2'),
         url('krabby_patty-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.wrapper {
	margin: 20px 70px 70px;
}

html {
	background-image: url(../img/bath_sponge.jpg);
	font-family: 'krabby_pattyregular';
	font-size: 25px;
	color: #383ADE;
	text-shadow: 1px 1px 2px #ffffff;
}


h1, h2 {
	text-align: center;
	margin: 60px;
}

h1 {
	margin: 60px 0 70px;
}

.menu {
	display: flex;
	justify-content: center;
}

.sponge-bob {
	width: 350px;
	display: block;
	margin: 30px auto;
}

ul.menu li {
	display: inline-block;
	margin: 35px;
}

ul.menu li a {
	display: inline-block;
	text-decoration: none;
	color: #383ADE;
	font-size: 45px;
	padding: 15px;
}

ul.menu li a:hover, ul.menu li a.active {
	color: #019415;
	text-shadow: 1px 1px 2px #ffffff;
	cursor: pointer;
	transition-duration: 500ms;
	background-image: url("../img/starfish.svg");
	background-repeat: no-repeat;
	font-weight: bold;
}

.client-info {
	margin-bottom: 25px;
}

input[type=text] {
	font-family: 'krabby_pattyregular';
	font-size: 18px;
	display: block;
	background-color: #F597A4;
	width: 400px;
  	padding: 12px 20px;
	border: 3px solid #F597A4;
	color: #019415;
	border-radius: 4px;
	margin: 10px auto;
}

input::placeholder {
	color: gray;
}

input:focus {
	border: 3px solid #F56E98;
}

textarea {
	display: block;
	font-family: 'krabby_pattyregular';
	font-size: 18px;
	width: 445px;
	height: 150px;
	padding: 12px 20px;
	box-sizing: border-box;
	border: 3px solid #F56E98;
	border-radius: 4px;
	background-color: #F597A4;
	resize: none;
	color: #019415;
	margin: 0 auto;
  }

textarea::placeholder {
	color: gray;
  }

select {
	display: block;
	font-family: 'krabby_pattyregular';
	font-size: 18px;
	width: 446px;
	padding: 16px 20px;
	border: none;
	border-radius: 4px;
	background-color: #F597A4;
	color: #019415;
	margin: 0 auto;
	
  }

.size select {
	font-size: 25px;
    text-shadow: 1px 1px 2px #ffffff;
    opacity: 0.92;
    border: 3px solid #F56E98;
}

option {
	color: gray;
  }

select:invalid,
select option[value=""] {
	color: gray;
  }

input[type=submit], input[type=reset] {
	
	font-family: 'krabby_pattyregular';
	font-size: 20px;
	background-color: #F5B425;
	border: none;
	color: #019415;
	padding: 16px 32px;
	text-decoration: none;
	margin: 4px 2px;
	cursor: pointer;
	text-shadow: 1px 1px 2px #ffffff;
	margin: 20px 20px 0 0;
  
  }

  input[type=submit] {
	color: #F5B425;
	background-color: #019415;
	text-shadow: none;
  }

  input[type=submit]:hover, input[type=reset]:hover {
	border-radius: 7px;
	box-shadow: 0 0 6px #ffffff;
	transition-duration: 500ms;
  }

.btn {
	display: flex;
	justify-content: center;
	margin-top: 50px;
}

.btn-contact {
	margin-top: 50px;
}

.toppings {
	display: flex;
	width: 70%;
	justify-content: center;
	margin: 0 auto;
	background-color: #F597A4;
	opacity: 0.92;
	border: 3px solid #F56E98;
	padding: 20px 10px;
	border-radius: 5px;
	flex-wrap: wrap;
	min-height: 400px;
	color: #019415;
}

.toppings img {
	max-width: 80px;
    padding: 10px 0 0 20px;

}

.toppings div {
	max-width: 155px;
	min-width: 110px;
	margin: 10px 10px 0 0;
	align-items: center;
}



input[type=checkbox],input[type=radio]  {
	cursor: pointer;
	
}

.crust label:hover {
	box-shadow: 0 0 6px #ffffff;
	transition-duration: 500ms;
}

label {
	text-shadow: 1px 1px 2px #ffffff;;
}

label:hover, .toppings img:hover {
	cursor:pointer;

   }

.crust {
	display: flex;
	width: 70%;
	justify-content: center;
	margin: 0 auto;
}

.crust label {
	margin-right: 25px;
	color: #019415;
	background-color: #F597A4;
	padding: 20px 10px;
	opacity: 0.92;
	border: 3px solid #F56E98;
	border-radius: 5px;
}


/*Contact Us*/

.contact-p {
	display: block;
	width: 60%;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 40px;
}

.contact-us input, .contact-us textarea, .contact-us label  {
	display: inline-block;

}

.contact-us label {
	width: 170px;
}

.contact-us {
	margin: 20px 210px;
}

.rainbow {
	position: relative;
}

.rainbow-img {
	position: absolute;
	top: 8px;
    right: 180px;

}

/*Home*/

.catch {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.catch-img {
	max-height: 500px;
	max-width: 100%;
	width: 800px;
}

.catch-p {
	font-size: 30px;
	margin-left: 60px;
}

/*About*/

iframe {
	margin: 40px auto;
	display: block;
}